table{
	border:solid black 2px;
}
th,td{
	margin: 0px;
	border: solid black 2px;
	
	text-align:left;
}
td{
	padding-left: 20px;
    padding-right:20px;
}
td,a{
	
	padding-left: none;
}

.top{
	height: 40px;
	font-size: 40px;
	font-family: Arial;
	text-shadow: 6px 3px 9px blue;
	padding-top: 0px;
	padding-left: 10px;}


.first ul{
	color: white;
	margin: 0px;
	margin-top: 40px;

	margin-left: 40px;
	padding: 0px;
	list-style: none;

}
.first ul li{
	float:left;
	width:120px;
	height: 20px;
	text-align:center;
	background-color: black;
	opacity: 0.6;
	padding-top: 15px; 
	margin-left: 20px;
    border-radius: 30px;
    font-size: 16px;


}
.first ul li a:hover {
	background-color: #4B0082;
	margin-left:-20px;
}
.first ul li ul li{
	margin:0px;
	margin-top: 2px;
	opacity: 0.9;
	
	display: none;
}

.first ul li:hover ul li{

	display: block;
}

 

